@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200&display=swap');
* {
    font-family: 'Gemunu Libre', sans-serif;
}
* {
    font-size: 20px;
    font-weight: 700;
}
body{background-color: lightgrey;}
div h1 {background-color: yellow;}
.Kontak {
    background-color: red;
}
.Pengalaman.Organisasi {background-color: red;}
.Data.Diri {background-color: blue;}
.gambar {
    text-align: center;
}
.circle {
    width: 200px;
    height: 200px;
    background-color: yellow;
    border-radius: 50%;
    margin: auto;
}
.gambar-saya {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.ukuran-gambar {
    width: 100px;
    height: 100px;
}
.name {
    text-align: center;
    color: red;
    background-color: gray;
}
* {
    text-align: center;
    color: white;
}
.nama-kelas {
    text-align: center;
}
.center {
    display: flex;
    justify-content: center;
    flex-direction: column;
   align-items: center;
}
.inspirasi {
    background-color:gray;
    border: 2px solid red;
}
.perkenalan {
   background-color:red;
   
}
.Data.Diri {
    background-color: red;
}
.p1 {
    background-color: gray;
    margin: auto;
}
.datadiri {
    background-color: gray;
}

.ini {
    background-color: red;
}
.baba {
    background-color: gray;
}
.bibi {
    background-color: gray;
}
.pendidikan {
    background-color: gray;
    
}
.kuli {
    display: flex;
    justify-content: center;
    flex-direction: column;
   align-items: center;
}

